.label-with-aestrick{
    display: flex;
    align-items:center;
    justify-content:start ;
    gap:1%;
   }
   .input-wrapper {
       position: relative;
       width: 100%;
     }
     
     .form-input {
       width: 100%;
       padding: 8px 36px 8px 10px; 
       box-sizing: border-box;
     }
     
     .eye-toggle-icon {
       position: absolute;
       right: 7px;
       top: 50%;
       transform: translateY(-50%);
       cursor: pointer;
       color: #888;
       background-color: white;
       border: none;
       align-self:end;
     }
     